.btn{
    padding: 2px 10px;
    color: white;
    max-width: 130px;
    background-color: #1BD4A5;
    border-radius:  5px; 
}
button{
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}